$scss-mat-primary: (
  50 : #e5f4e9,
  100 : #c0e4ca,
  200 : #99d0b1,
  300 : #6cc385,
  400 : #49b66c,
  500 : #1caa53,
  600 : #119b49,
  700 : #4682b4,
  800 : #007833,
  900 : #005f14,
  A100 : #bdf3cc,
  A200 : #96edad,
  A400 : #00da46,
  A700 : #00b450,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$scss-mat-accent: (
  50 : #fafafa,
  100 : #f6f6f6,
  200 : #f0f0f0,
  300 : #e3e3e3,
  400 : #c1c0c0,
  500 : #a1a1a1,
  600 : #787878,
  700 : #646464,
  800 : #414546,
  900 : #242424,
  A100 : #f4f8fb,
  A200 : #90e0ff,
  A400 : #44cbff,
  A700 : #00a1bd,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$scss-mat-warn: (
  50 : #fae1e1,
  100 : #f3b3b3,
  200 : #ec8181,
  300 : #e44e4e,
  400 : #de2828,
  500 : #d80202,
  600 : #d40202,
  700 : #ce0101,
  800 : #c80101,
  900 : #bf0101,
  A100 : #ffe7e7,
  A200 : #ffb4b4,
  A400 : #ff8181,
  A700 : #ff6868,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
